BookOrderingProcess/bpelContent/bookOrdering.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:n="http://process.swin.edu.au" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="bookOrdering" targetNamespace="http://process.swin.edu.au">
  <wsdl:types>
    <xsd:schema targetNamespace="http://process.swin.edu.au">
      <xsd:element name="orderBook">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="studentId" type="xsd:int" />
          	<xsd:element name="pin" type="xsd:int"></xsd:element>
          	<xsd:element name="isbn" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="orderBookResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="status" type="xsd:string" />
          	<xsd:element name="title" type="xsd:string"></xsd:element>
          	<xsd:element name="authors" type="xsd:string"></xsd:element>
          	<xsd:element name="publisher" type="xsd:string"></xsd:element>
          	<xsd:element name="reason" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="orderBookRequest">
    <wsdl:part element="n:orderBook" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="orderBookResponse">
    <wsdl:part element="n:orderBookResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="BookOrderingPort">
    <wsdl:operation name="orderBook">
      <wsdl:input message="n:orderBookRequest"/>
      <wsdl:output message="n:orderBookResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bookOrderingSOAP" type="n:BookOrderingPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="orderBook">
      <soap:operation soapAction="http://process.swin.edu.au/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="bookOrdering">
    <wsdl:port binding="n:bookOrderingSOAP" name="bookOrderingSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
