BookOrderingProcess/bpelContent/BookInventorySOAP.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://waa.swin.edu.au" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://waa.swin.edu.au">
    <wsdl:documentation>BookInventoryServiceSOAP</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://waa.swin.edu.au">
            <xs:element name="BookInventoryServiceSOAPException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BookInventoryServiceSOAPException" nillable="true" type="ns:Exception"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="validateBookOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateBookOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addBook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bookTitle" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="authorList" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="isbn10" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="isbn13" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="publisherName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="publishDate" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="bookStatus" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addBookRequest">
        <wsdl:part name="parameters" element="ns:addBook"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addBookResponse">
        <wsdl:part name="parameters" element="ns:addBookResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="BookInventoryServiceSOAPException">
        <wsdl:part name="parameters" element="ns:BookInventoryServiceSOAPException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateBookOrderRequest">
        <wsdl:part name="parameters" element="ns:validateBookOrder"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateBookOrderResponse">
        <wsdl:part name="parameters" element="ns:validateBookOrderResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BookInventoryServiceSOAPPortType">
        <wsdl:operation name="addBook">
            <wsdl:input message="ns:addBookRequest" wsaw:Action="urn:addBook"></wsdl:input>
            <wsdl:output message="ns:addBookResponse" wsaw:Action="urn:addBookResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateBookOrder">
            <wsdl:input message="ns:validateBookOrderRequest" wsaw:Action="urn:validateBookOrder"></wsdl:input>
            <wsdl:output message="ns:validateBookOrderResponse" wsaw:Action="urn:validateBookOrderResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BookInventoryServiceSOAPSoap11Binding" type="ns:BookInventoryServiceSOAPPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="addBook">
            <soap:operation soapAction="urn:addBook" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="BookInventoryServiceSOAPException">
                <soap:fault use="literal" name="BookInventoryServiceSOAPException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateBookOrder">
            <soap:operation soapAction="urn:validateBookOrder" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="BookInventoryServiceSOAPException">
                <soap:fault use="literal" name="BookInventoryServiceSOAPException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BookInventoryServiceSOAPSoap12Binding" type="ns:BookInventoryServiceSOAPPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="addBook">
            <soap12:operation soapAction="urn:addBook" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="BookInventoryServiceSOAPException">
                <soap12:fault use="literal" name="BookInventoryServiceSOAPException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateBookOrder">
            <soap12:operation soapAction="urn:validateBookOrder" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="BookInventoryServiceSOAPException">
                <soap12:fault use="literal" name="BookInventoryServiceSOAPException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BookInventoryServiceSOAPHttpBinding" type="ns:BookInventoryServiceSOAPPortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="addBook">
            <http:operation location="addBook"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateBookOrder">
            <http:operation location="validateBookOrder"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BookInventoryServiceSOAP">
        <wsdl:port name="BookInventoryServiceSOAPHttpSoap11Endpoint" binding="ns:BookInventoryServiceSOAPSoap11Binding">
            <soap:address location="http://10.1.19.10:9763/services/BookInventoryServiceSOAP.BookInventoryServiceSOAPHttpSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="BookInventoryServiceSOAPHttpsSoap11Endpoint" binding="ns:BookInventoryServiceSOAPSoap11Binding">
            <soap:address location="https://10.1.19.10:9443/services/BookInventoryServiceSOAP.BookInventoryServiceSOAPHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="BookInventoryServiceSOAPHttpsSoap12Endpoint" binding="ns:BookInventoryServiceSOAPSoap12Binding">
            <soap12:address location="https://10.1.19.10:9443/services/BookInventoryServiceSOAP.BookInventoryServiceSOAPHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="BookInventoryServiceSOAPHttpSoap12Endpoint" binding="ns:BookInventoryServiceSOAPSoap12Binding">
            <soap12:address location="http://10.1.19.10:9763/services/BookInventoryServiceSOAP.BookInventoryServiceSOAPHttpSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="BookInventoryServiceSOAPHttpsEndpoint" binding="ns:BookInventoryServiceSOAPHttpBinding">
            <http:address location="https://10.1.19.10:9443/services/BookInventoryServiceSOAP.BookInventoryServiceSOAPHttpsEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="BookInventoryServiceSOAPHttpEndpoint" binding="ns:BookInventoryServiceSOAPHttpBinding">
            <http:address location="http://10.1.19.10:9763/services/BookInventoryServiceSOAP.BookInventoryServiceSOAPHttpEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>