BookOrderingProcess/bpelContent/StudentServiceSOAP.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://student.waa.swin.edu.au" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://student.waa.swin.edu.au">
    <wsdl:documentation>StudentServiceSOAP</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://student.waa.swin.edu.au">
            <xs:element name="authenticate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="studentId" type="xs:int"></xs:element>
                        <xs:element minOccurs="0" name="pin" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="authenticateRequest">
        <wsdl:part name="parameters" element="ns:authenticate"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="authenticateResponse">
        <wsdl:part name="parameters" element="ns:authenticateResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="StudentServiceSOAPPortType">
        <wsdl:operation name="authenticate">
            <wsdl:input message="ns:authenticateRequest" wsaw:Action="urn:authenticate"></wsdl:input>
            <wsdl:output message="ns:authenticateResponse" wsaw:Action="urn:authenticateResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StudentServiceSOAPSoap11Binding" type="ns:StudentServiceSOAPPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="authenticate">
            <soap:operation soapAction="urn:authenticate" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StudentServiceSOAPSoap12Binding" type="ns:StudentServiceSOAPPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="authenticate">
            <soap12:operation soapAction="urn:authenticate" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StudentServiceSOAPHttpBinding" type="ns:StudentServiceSOAPPortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="authenticate">
            <http:operation location="authenticate"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StudentServiceSOAP">
        <wsdl:port name="StudentServiceSOAPHttpsSoap11Endpoint" binding="ns:StudentServiceSOAPSoap11Binding">
            <soap:address location="https://localhost:9443/services/StudentServiceSOAP.StudentServiceSOAPHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="StudentServiceSOAPHttpSoap11Endpoint" binding="ns:StudentServiceSOAPSoap11Binding">
            <soap:address location="http://localhost:9763/services/StudentServiceSOAP.StudentServiceSOAPHttpSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="StudentServiceSOAPHttpsSoap12Endpoint" binding="ns:StudentServiceSOAPSoap12Binding">
            <soap12:address location="https://192.168.47.1:9443/services/StudentServiceSOAP.StudentServiceSOAPHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="StudentServiceSOAPHttpSoap12Endpoint" binding="ns:StudentServiceSOAPSoap12Binding">
            <soap12:address location="http://192.168.47.1:9763/services/StudentServiceSOAP.StudentServiceSOAPHttpSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="StudentServiceSOAPHttpEndpoint" binding="ns:StudentServiceSOAPHttpBinding">
            <http:address location="http://localhost:9763/services/StudentServiceSOAP.StudentServiceSOAPHttpEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="StudentServiceSOAPHttpsEndpoint" binding="ns:StudentServiceSOAPHttpBinding">
            <http:address location="https://localhost:9443/services/StudentServiceSOAP.StudentServiceSOAPHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>